<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link href="{{ asset('FrontEnd/css/bootstrap.css') }}" rel='stylesheet' />
        <link href="{{ asset('FrontEnd/css/style.css') }}" rel='stylesheet'  />
        <link rel="stylesheet" href="{{ asset('FrontEnd/css/flexslider.css') }}"  />
    {% endblock %}
</head>



<body>

{% block body %}
{% block header %}
    <div class="header">
        <div class="container">
            <div class="header-main">
                <div class="logo">
                    <a href="index.html"><h1>CARITAS</h1></a>
                </div>
                <div class="head-right">
                    <div class="top-nav">
                        <span class="menu"><img src="{{ asset('FrontEnd/images/nav-icon.png') }}" alt=""> </span>
                        <ul>
                            <li><a href="index.html"  class="active"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                            <li><a href="about.html"><span class="glyphicon glyphicon-info-sign"></span>About</a></li>
                            <li><a href="typo.html"><span class="glyphicon glyphicon-certificate"></span>Short Codes</a></li>
                            <li><a href="gallery.html"><span class="glyphicon glyphicon-picture"></span>Gallery</a></li>
                            <li><a href="contact.html"><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <!--script-->
                        <script>
                            $("span.menu").click(function(){
                                $(".top-nav ul").slideToggle(500, function(){
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
    <h1>Offreemplois list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Secteur</th>
                <th>Poste</th>
                <th>Emplacement</th>
                <th>Numtel</th>
                <th>Email</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offreemploi in offreemplois %}
            <tr>
                <td><a href="{{ path('offreemploi_show', { 'id': offreemploi.id }) }}">{{ offreemploi.id }}</a></td>
                <td>{{ offreemploi.secteur }}</td>
                <td>{{ offreemploi.poste }}</td>
                <td>{{ offreemploi.emplacement }}</td>
                <td>{{ offreemploi.numtel }}</td>
                <td>{{ offreemploi.email }}</td>
                <td>{{ offreemploi.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('offreemploi_show', { 'id': offreemploi.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('offreemploi_edit', { 'id': offreemploi.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offreemploi_new') }}">Create a new offreemploi</a>
        </li>
    </ul>
{% endblock %}
    {% block footer %}
        <div class="footer">
            <div class="container">
                <div class="footer-top">
                    <a href="index.html"><h3>CARITAS</h3></a>
                    <p>© 2020 CARITAS. All Rights Reserved  </p>
                    <a href="#home" class="scroll"><img src="{{ asset('FrontEnd/images/top-arrow.png') }}" alt="" /></a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <script src="{{ asset('FrontEnd/js/jquery.min.js') }}"></script>
    <!--start-smoth-scrolling-->
    <script type="text/javascript" src="{{ asset('FrontEnd/js/move-top.js') }}"></script>
    <script type="text/javascript" src="{{ asset('FrontEnd/js/easing.js') }}"></script>
    <script defer src="{{ asset('FrontEnd/js/jquery.flexslider.js') }}"></script>
    <script>
        $("span.menu").click(function(){
            $(".top-nav ul").slideToggle(500, function(){
            });
        });
    </script>
    <script defer src="{{ 'FrontEnd/js/jquery.flexslider.js' }}"></script>
    <script type="text/javascript">
        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
    </script>

{% endblock %}

</body>
</html>

