{% extends 'baseAdmin.html.twig' %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Themes list</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Discreption</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for theme in themes %}
                                <tr>
                                    <td>{{ theme.id }}</td>
                                    <td>{{ theme.nom }}</td>
                                    <td>{{ theme.description }}</td>
                                    <td>
                                        <a href="{{ path('theme_edit', { 'id': theme.id }) }}" class="badge bg-warning">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Discreption</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("BackEnd/plugins/datatables/jquery.dataTables.js") }}"></script>
    <script src="{{ asset("BackEnd/plugins/datatables-bs4/js/dataTables.bootstrap4.js") }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
{% endblock %}
